/* Conteneur du menu latéral */
.sidebar-container {
  position: absolute;
  top: 80px; /* Coller la sidebar en dessous du header */
  bottom: 0px; /* Coller la sidebar au-dessus du footer */
  width: 180px; /* Largeur de la sidebar */
  background-color: #111827;
  color: white;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
  transition: width 0.3s ease;
}

/* Media query pour les écrans de petite taille (téléphones) */
@media (max-width: 768px) {
  .sidebar-container {
    bottom: 60px; /* Coller la sidebar au-dessus du footer */
  }
}

/* Liste de navigation */
.nav-list {
  list-style-type: none; /* Supprimer les puces */
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 100%;
  margin-bottom: 20px;
}

.nav-link {
  color: white; /* Couleur des liens */
  text-decoration: none; /* Supprimer la soulignure */
  font-size: 18px;
  display: block; /* Pour que chaque lien prenne toute la largeur */
  padding: 10px 20px;
  width: 100%;
  transition: padding-left 0.3s ease, background-color 0.3s ease; /* Transition fluide pour padding et couleur */
}

/* Animation au survol des liens */
.nav-link:hover {
  background-color: #042658; /* Changement de couleur de fond au survol */
  padding-left: 30px; /* Décalage du texte pour effet */
  transition: padding-left 0.3s ease, background-color 0.3s ease; /* Animation fluide */
}

/* Contenu principal */
.content {
  margin-left: 200px; /* Laisser de l'espace à gauche pour le menu */
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------- */

#btnLogout {
    position: absolute; /* Positionné par rapport au body ou au parent */
    top: 30px;
    left: 85%; /* Centré horizontalement */
    padding: 5px 10px; /* Réduire la taille des marges internes du bouton */
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Réduire la taille du texte */
    z-index: 1000; /* S'assurer que le bouton reste au-dessus du header */
}

#btnLogout:hover {
    background-color: #e53935;
}

/* --------------------------------------------------------------------------------------------------------------------- */