body {
  background-color: #E5E7EB;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Couleur de fond pour le header */
header {
  position: relative;
  background-color: #111827; /* Noir pur pour un contraste fort */
  color: white;
  padding-top: 10px;  /* Réduit le padding en haut */
  padding-bottom: 10px; /* Réduit le padding en bas */
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  z-index: 1;
}

/* Contenu principal */
main {
  flex: 1;
  box-sizing: border-box;
}

/* Couleur de fond pour le footer */
footer {
  background-color: #111827; /* Noir pur pour maintenir la cohérence */
  color: white;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  margin-top: auto;
}

.logo {
  max-width: 200px; /* Limite la taille du logo à 150px (ajuste cette valeur si nécessaire) */
  height: auto; /* Garde les proportions du logo */
  display: block; /* Assure que l'élément est un bloc pour pouvoir le centrer */
  margin-left: auto; /* Centre le logo horizontalement */
  margin-right: auto; /* Centre le logo horizontalement */
  margin-top: 0; /* Enlève tout espace au-dessus des éléments dans le header */
  margin-bottom: 0; /* Enlève tout espace en-dessous */
}
